.body {
    padding: 5rem 1rem 2rem 1rem ;
    background-color: #6D8D8B;
  
    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 0px;
        color: #FFFFFF;
    }
  }

.botonera {
    display: flex;
    justify-content: center;

    .iconos {
        border-radius: 50%;
        cursor: pointer;
    }

    img {
        width: 3rem;
        height: auto;
        margin: 0rem 1rem;
    }
}

.form {
    display: flex;
    margin: 0 auto;
    width: 80%;

    form {
        width: 100%;

        mat-label {
            color: #1C201F;
        }

        mat-form-field {
            font-family: 'SpaceGrotesk';
            width: 100%;
            margin-bottom: 3vh;
        }

        button {
            font-family: 'Inter';
            margin-bottom: 4vh;
            float: right;
        }

        .mat-mdc-raised-button.mat-accent {
            --mdc-protected-button-label-text-color: #1C201F;
        }
    }

}


@media (max-width: 768px) {

    .form {
        width: 100%;
    }
}