<div class="contenedor" [@enterAnimation]="indice > 1">
  <img [src]="this.image" alt="Imagenes" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" />

    <button *ngIf="this.images.length  > 1 " mat-icon-button class="boton boton-izquierdo " (click)="izquierdo()"
      aria-label="Izquierda">
      <mat-icon class="material-symbols-outlined">chevron_left</mat-icon>
    </button>
    <button *ngIf="this.images.length > 1 " mat-icon-button class="boton boton-derecho" (click)="derecho()"
      aria-label="derecha">
      <mat-icon class="material-symbols-outlined">chevron_right</mat-icon>
    </button>
</div>