<nav>
  <ul>
    <li><a href="#inicio">Inicio</a></li>
    <li><a routerLink="/acerca-de">Skills</a></li>
    <li><a routerLink="/servicios">Experiencia</a></li>
    <li><a routerLink="/contacto">Proyectos</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
  </ul>
</nav>

<div id="inicio" class="container">
  <h1 class="title-1">Didier</h1>
  <h1 class="title-2">Piracoca</h1>
  <img src="..\assets\images\didierFoto.png" alt="Descripción de la imagen">
  <p class="descrip">Descubre mi mundo como desarrollador multiplataforma. ¡Creatividad sin límites!</p>
</div>