.econtainer {
  margin: 0;
  height: 100%;
  background-color: #1C201F;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1C201F;
  z-index: 1000;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 2.5rem;
    margin-left: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;
  }

  li {
    padding-right: 3vw;
  }

  .link {
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .link:hover,
  nav .link:active,
  nav .link:focus {
    color: #DFFF60;
    text-decoration: underline;
  }
}

.container {
  background-image: url('../assets/images/didierFoto.png');
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(#0001, #000);
  background-color: #6D8D8B;
  margin: 0 auto;
  height: 25rem;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .flex {
    display: flex;
    justify-content: space-between;

    .titles {
      flex-direction: column;
      display: flex;
    }

    .title-1 {
      color: white;
      font-size: 7.5rem;
      margin: 0px;
    }

    .title-2 {
      margin-top: -1rem;
      margin-bottom: 0px;
      color: #DFFF60;
      font-size: 7.5rem;
    }

    img {
      width: auto;
      height: 14rem;
      object-fit: scale-down;
    }
  }

  .descrip {
    color: #e8e8e8;
    margin: 0.5rem;
    font-size: 1.5rem;
  }

  .botonera {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    .iconos {
      border: solid #DFFF60 2px;
      border-color: #DFFF60;
      border-radius: 1rem;
      padding: 0.5rem;
      margin-right: 0.5rem;
      cursor: pointer;

      a {
        height: 100%;
        color: #e8e8e8;
        font-family: 'inter';
        font-size: 1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      img {
        width: 2rem;
        height: auto;
        margin-left: 0.75rem;
      }
    }
  }
}

.skills {
  margin: 0 auto;
  padding: 5rem 0px;

  h2 {
    font-size: 2.5rem;
    margin: 0px 0px;
    text-align: center;
    color: #FFFFFF;
  }

  .grid {
    max-width: 55%;
    margin: 1rem auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 0.25rem;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 696px) {
  .tab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1C201F;
    z-index: 1000;
    display: flex;
    align-content: center;
    justify-content: space-between;

    img {
      width: 2.5rem;
      margin-right: 1rem;
    }
  }

  mat-drawer {
    background-color: #1C201F;
    width: 50%;

    mat-list-item {
      margin-top: 0.5rem;

      .link {
        color: #FFFFFF;
        font-size: 1.5rem;
      }

      .link:hover,
      .link:active,
      .link:focus {
        color: #DFFF60;
      }
    }
  }

  button {
    justify-self: center;
    align-self: center;
    align-items: center;
  }

  nav {
    display: none;
  }

  .container {
    height: auto;
    margin-top: 3rem;
    padding: 10px;

    .flex {
      justify-content: normal;

      .titles {
        margin-right: 1rem;
      }

      .title-1 {
        font-size: 3.5rem;
      }

      .title-2 {
        margin-top: -1rem;
        font-size: 3.5rem;
      }

      img {
        align-self: end;
        width: auto;
        height: 10rem;
        object-fit: scale-down;
      }
    }

    .descrip {
      font-size: 1rem;
    }
  }

  .skills .grid {
    max-width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 0.5rem;
  }
}