.econtainer {
  margin: 0;
  height: 100%;
  background-color: #1C201F;
}

h1 {
  font-family: 'inter';
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1C201F;
  z-index: 1000;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-family: 'SpaceGrotesk';
    font-size: 2vw;
  }

  li {
    padding-top: 2rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
  }

  a:hover,
  a:active,
  a:focus {
    color: #DFFF60;
    text-decoration: underline;
  }
}

.container {
  background-color: #6D8D8B;
  border-radius: 25px;
  margin: 0 auto;
  display: flex;
  width: 75%;
  height: auto;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  .title-1 {
    color: white;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 6vw;
    grid-column: 1;
    grid-row: 1;

  }

  .title-2 {
    color: #DFFF60;
    margin-bottom: 2rem;
    margin-right: 2.5rem;
    font-size: 6vw;
    grid-column: 3;
    grid-row: 2;
  }

  img {
    grid-column: 2;
    grid-row: 1 / span 3;
    justify-self: center;
    align-self: end;
    height: 90%;
    width: auto;
  }

  .descrip {
    font-family: 'SpaceGrotesk';
    grid-column: 1 / span 3;
    grid-row: 4;
    justify-self: center;
    align-self: center;
    font-size: 2.5vw;
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    .title-1 {
      color: white;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 0.5rem;
      font-size: 6vw;
      grid-column: 1;
      grid-row: 1;

    }

    .title-2 {
      color: #DFFF60;
      margin-bottom: 1.5rem;
      margin-right: 2rem;
      margin-top: 0.5rem;
      font-size: 6vw;
      grid-column: 3;
      grid-row: 2;
    }

    img {
      grid-column: 2;
      grid-row: 1 / span 2;
      justify-self: center;
      align-self: end;
      height: 90%;
      width: auto;
    }

    .descrip {
      font-family: 'SpaceGrotesk';
      grid-column: 1 / span 3;
      grid-row: 4;
      justify-self: center;
      align-self: center;
      font-size: 3vw;
      width: 80%;
    }
  }
}

@media screen and (max-width: 768px) {
  .tab{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1C201F;
    z-index: 1000;
  }
  mat-drawer {
    background-color: #1C201F;
    width: 50%;
    mat-list-item{
      margin-top: 0.5rem;
    }
    a{
      color: #FFFFFF;
      font-family: 'SpaceGrotesk';
      font-size:x-large;
      text-decoration: none;
    }
    a:hover,
    a:active,
    a:focus {
      color: #DFFF60;
    }
  }

  button {
    justify-self: center;
    align-self: center;
    align-items: center;
  }

  nav {
    display: none;
  }

  .material-symbols-outlined {
    color: #FFFFFF;
  }

  .container {
    border-radius: 0px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    .title-1 {
      color: white;
      margin-left: 1rem;
      margin-bottom: 0;
      font-size: 14vw;
      grid-column: 1;
      grid-row: 1;
      align-self: self-end;

    }

    .title-2 {
      color: #DFFF60;
      margin-left: 1rem;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14vw;
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    img {
      grid-column: 2;
      grid-row: 1 / span 3;
      justify-self: right;
      align-self: end;
      margin-right: 0.5rem;
      height: 70%;
    }

    .descrip {
      font-family: 'SpaceGrotesk';
      grid-column: 1 / span 2;
      width: 60%;
      grid-row: 3;
      justify-self: start;
      font-size: 5vw;
      margin-left: 1rem;
    }
  }
}